#contact-us .modal-header {
    padding-top: 40px;
    padding-bottom: 0;
}

#contact-us .contact-us-title {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 3px;
    margin-bottom: 0;
    color: #000;
}

#contact-us .modal-content {
    border-radius: 0;
}

#contact-us .modal-body {
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

#contact-us .modal-body p {
    margin-bottom: 1rem;
}

#contact-us .modal-dialog {
    color: #000;
}

@media (min-width: 576px) {
    #contact-us .modal-dialog {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) {
    #contact-us .modal-dialog {
        max-width: 795px;
        width: 100%;
    }
}

.contact-iframe-container {
    max-width: 760px;
    margin: 0 auto;
}

@media (min-width: 1024px) {
    .scroll-down-btn {
        right: -14.5vw;
        left: auto;
    }
}

.form-required {
    margin-left: 0;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    z-index: 10
  }

  .header .btn {
    margin: 10px 0;
    min-width: 0
  }

  .header .btn i {
    display: none;
  }

  .header.fixed {
    background-color: #fff;
    border-bottom: 1px solid #f1ebeb;
  }

  .header.fixed a,
  .header.fixed button {
    color: #0d181c;
  }

  .header.fixed .btn {
    margin: 10px 0
  }

  .header.fixed .menu-link a:after {
    bottom: 0;
    background-color: #e30613;
  }

  .header.fixed .menu-link a.active,
  .header.fixed .menu-link a:hover {
    color: #e30613;
  }

  .header.fixed .logo img:nth-child(2) {
    opacity: 1
  }

  .header .menu li {
    -webkit-transition-duration: .6s;
    -o-transition-duration: .6s;
    transition-duration: .6s
  }

  .header .menu li:nth-of-type(1) {
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s
  }

  .header .menu li:nth-of-type(2) {
    -webkit-transition-delay: .33s;
    -o-transition-delay: .33s;
    transition-delay: .33s
  }

  .header .menu li:nth-of-type(3) {
    -webkit-transition-delay: .35s;
    -o-transition-delay: .35s;
    transition-delay: .35s
  }

  .header .menu li:nth-of-type(4) {
    -webkit-transition-delay: .37s;
    -o-transition-delay: .37s;
    transition-delay: .37s
  }

  .header .menu li:nth-of-type(5) {
    -webkit-transition-delay: .39s;
    -o-transition-delay: .39s;
    transition-delay: .39s
  }

  .logo {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    max-width: 100px
  }

  .logo img {
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear
  }

  .logo img:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    opacity: 0
  }

  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
    position: relative;
    padding-left: 60px
  }

  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2
  }

  .menu-link {
    display: none;
  }

  .menu-link a {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: color .3s linear;
    -o-transition: color .3s linear;
    transition: color .3s linear
  }

  .menu-link a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 20px;
    height: 2px;
    width: 100%;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
    background-color: #fff;
    -webkit-transition: -webkit-transform .25s linear;
    transition: -webkit-transform .25s linear;
    -o-transition: transform .25s linear;
    transition: transform .25s linear;
    transition: transform .25s linear, -webkit-transform .25s linear
  }

  .menu-link a.active,
  .menu-link a:hover {
    color: #fff
  }

  .menu-link a.active:after,
  .menu-link a:hover:after {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1)
  }

  .menu-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    overflow: auto;
    padding: 100px 30px;
    -webkit-transition: all .5s .3s ease-out;
    -o-transition: all .5s .3s ease-out;
    transition: all .5s .3s ease-out;
    z-index: 2
  }

  .menu-mobile.opened {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out
  }

  .menu-mobile.opened .menu-mobile-link {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
  }

  .menu-mobile .menu-mobile-link {
    margin-bottom: 31px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-25px);
    -ms-transform: translateX(-25px);
    transform: translateX(-25px);
    -webkit-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out
  }

  .menu-mobile .menu-mobile-link:nth-of-type(1) {
    -webkit-transition-delay: 70ms;
    -o-transition-delay: 70ms;
    transition-delay: 70ms
  }

  .menu-mobile .menu-mobile-link:nth-of-type(2) {
    -webkit-transition-delay: .14s;
    -o-transition-delay: .14s;
    transition-delay: .14s
  }

  .menu-mobile .menu-mobile-link:nth-of-type(3) {
    -webkit-transition-delay: .21s;
    -o-transition-delay: .21s;
    transition-delay: .21s
  }

  .menu-mobile .menu-mobile-link:nth-of-type(4) {
    -webkit-transition-delay: .28s;
    -o-transition-delay: .28s;
    transition-delay: .28s
  }

  .menu-mobile .menu-mobile-link:nth-of-type(5) {
    -webkit-transition-delay: .35s;
    -o-transition-delay: .35s;
    transition-delay: .35s
  }

  .menu-mobile .menu-mobile-link a {
    font-size: 2.2rem;
    line-height: 1.29;
    letter-spacing: .5px;
    color: #0d181c
  }

  .menu-mobile .menu-mobile-link a.active {
    color: #e30613;
    border-bottom: 1px solid #e30613
  }

  .menu-mobile .menu-mobile-link a.active:after {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1)
  }

  .menu-toggle {
    position: absolute;
    left: 0;
    width: 45px;
    padding: 25px 30px 25px 0
  }

  .menu-toggle span {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
    width: 25px;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
  }

  .menu-toggle span:nth-of-type(1) {
    -webkit-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    transform: translateY(-7px)
  }

  .menu-toggle span:nth-of-type(3) {
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px)
  }

  .fixed .menu-toggle span {
    background-color: #0d181c
  }

  .menu-toggle.opened span {
    width: 25px
  }

  .menu-toggle.opened span:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
  }

  .menu-toggle.opened span:nth-of-type(2) {
    opacity: 0;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg)
  }

  .menu-toggle.opened span:nth-of-type(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }

  .menu-toggle:after {
    content: '';
    position: absolute;
    right: 0;
    top: 12px;
    bottom: 12px;
    width: 1px;
    background-color: rgba(255, 255, 255, .34)
  }

  .fixed .menu-toggle:after {
    background-color: #e4e5e9
  }

  @media all and (min-width: 640px) {
    .menu-mobile {
      padding: 175px 30px
    }

    .menu-mobile .menu-mobile-link {
      margin-bottom: 44px
    }

    .menu-mobile .menu-mobile-link a {
      font-size: 2.8rem
    }

    .menu-toggle {
      width: 68px;
      left: 0
    }

    .menu-toggle span {
      width: 30px
    }

    .logo {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%
    }

    .nav {
      padding-left: 100px
    }
  }

  @media all and (min-width: 1024px) {
    .menu {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between
    }

    .menu-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex
    }

    .menu-toggle {
      display: none
    }
  }

  /* Header (end) */
  /* Preloader (start) */

  .preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 200%;
    height: 100vh;
    background-color: #21191a;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: translateX(-15%) skew(8deg) scaleX(1);
    -ms-transform: translateX(-15%) skew(8deg) scaleX(1);
    transform: translateX(-15%) skew(8deg) scaleX(1);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    z-index: 2
  }

  .preloader.loaded {
    -webkit-transform: translateX(-3%) skew(8deg) scaleX(0);
    -ms-transform: translateX(-3%) skew(8deg) scaleX(0);
    transform: translateX(-3%) skew(8deg) scaleX(0)
  }

  .loader-container {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
    -webkit-transition: all .3s .1s ease-in-out;
    -o-transition: all .3s .1s ease-in-out;
    transition: all .3s .1s ease-in-out
  }

  .loader-container.loaded {
    opacity: 0;
    visibility: hidden
  }

  .loader {
    margin: 13px auto 0;
    max-width: 363px
  }

  .modal-dialog .loader {
    position: absolute;
    top: 20%;
    z-index: 1;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: none
  }

  .loader ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around
  }

  .loader ul li {
    padding: 6px;
    height: 65px;
    width: 65px;
    margin: 19px 13px;
    position: relative;
    text-align: center
  }

  .cssload-loading-center {
    display: inline-block;
    position: absolute;
    background: #e30613;
    height: 19px;
    width: 19px;
    left: 23px;
    top: 24px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 2px;
    -webkit-animation: pulse 1.15s ease infinite;
    animation: pulse 1.15s ease infinite
  }

  .cssload-loading {
    display: inline-block;
    position: relative;
    width: 49px;
    height: 49px;
    margin-top: 2px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
  }

  .cssload-loading:after,
  .cssload-loading:before {
    position: absolute;
    content: '';
    height: 6px;
    width: 6px;
    display: block;
    top: 0;
    background: #e30613;
    border-radius: 2px;
    -webkit-animation-delay: -.5 .75s;
    animation-delay: -.5 .75s
  }

  .cssload-loading:before {
    -webkit-animation: square-tl 2.3s ease infinite;
    animation: square-tl 2.3s ease infinite;
    -webkit-animation-delay: .143 .75s;
    animation-delay: .143 .75s
  }

  .cssload-loading:after {
    right: 0;
    -webkit-animation: square-tr 2.3s ease infinite;
    animation: square-tr 2.3s ease infinite;
    -webkit-animation-delay: .143 .75s;
    animation-delay: .143 .75s
  }

  .cssload-loading.cssload-two {
    position: relative;
    top: -52px
  }

  .cssload-loading.cssload-two:after,
  .cssload-loading.cssload-two:before {
    bottom: 0;
    top: initial
  }

  .cssload-loading.cssload-two:after {
    -webkit-animation: square-br 2.3s ease infinite;
    animation: square-br 2.3s ease infinite;
    animation-direction: reverse
  }

  .cssload-loading.cssload-two:before {
    -webkit-animation: square-bl 2.3s ease infinite;
    animation: square-bl 2.3s ease infinite;
    animation-direction: reverse
  }

  .contact-us-loader .loader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
    max-width: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    margin: 0
  }
  @media all and (min-width: 1024px) {
    .viewport-15 {
      background-image: none
    }

    .viewport-5 {
      background-image: none
    }
  }
  .landing-footer {
    background-color: #000000;
    color: #fff;
    font-family: UniversLTStd-UltraCn, sans-serif;
  }

  .landing-footer button {
    font-family: UniversLTCYR-59UltCond, sans-serif;
  }

  .footer-col a {
    color: #ec0614;
  }

  .footer-map .map-image {
    color: #000;
  }

  .footer-map .map-dropdown small {
    font-family: UniversLTStd-Cn, sans-serif;
  }

  .footer-map .map-dropdown-toggle {
    border: solid 1px #303030;
    color: #fff;
  }

  .footer-map .map-dropdown-toggle:after {
    border-top: 4px solid currentColor;
  }

  .footer-map .map-dropdown-menu {
    background-color: #000;
    border: 1px solid #303030;
  }

  .footer-map .map-dropdown-menu li {
    border-bottom: solid 1px #303030;
  }

  .footer-map .map-dropdown-menu a {
    color: #fff;
  }

  .footer-map .map-link {
    font-family: UniversLTStd-UltraCn, sans-serif;
    color: #ec0614;
  }

  .footer-map .map-link.active,
  .footer-map .map-link:hover {
    color: #fff;
  }

  .footer-text {
    font-family: UniversLTStd-Cn, sans-serif;
  }

  a.footer-contact-btn,
  button.footer-contact-btn {
    background-color: #ec0614;
    color: #fff;
  }

  .footer-copyright a {
    font-family: UniversLTStd-Cn, sans-serif;
  }

  .footer-copyright p {
    font-family: UniversLTStd-UltraCn, sans-serif;
  }

  .gm-style {
    font-family: UniversLTStd-UltraCn, sans-serif;
  }